body{
    padding-top: 12px 0px 0px 53px ;
}
.top-logo{
    height: 84px;
    padding: 22px 0px 12px 20px ;
}
.main-div{
    background-color: brown;
    clip-path: polygon(100% 0, 100% 92%, 95% 100%, 0 100%, 0 0);
    height:100%;
    display: flex;
    justify-content: space-around;
    padding: 70px 0px 80px 18px ;

}
.text-1{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem; 
    letter-spacing:1px ;
    padding-top:120px ;
}
.text-2{
    margin: -22px 0px 6px 0px ;

}
.text-3{
    margin: 0px 0px 0px 0px ;
}
.chek-11{

    margin: -160px 0px 0px 67px ;
}
.chek-22{
    padding: 56px 0px 0px 87px ;

}

.aside1{
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}
.input-1{
    height: 34px;
    border: 2px solid white;
    background-color: brown;
    width: 340px;
}
.input-2{
    border: 2px solid white;
    background-color: brown;
    height: 34px;
    width: 340px;
}
.input-3{
    border: 2px solid white;
    background-color: brown;
    height: 34px;
    width: 340px;
}
.asidetext-1{
    color:rgb(22, 12, 12);
    font-size:26px;
    margin: 0px 0px 0px 0px ;
    font-weight: bolder;
}
.asidetext-2{
    color: aliceblue;
    font-size:11px;
    margin: -12px 0px 0px 0px ;
}
.aside-2ndsection,input{
    font-size: small;
    margin-top: 2px;
    background-color: brown;
    color: aliceblue;
}
input::placeholder,
textarea::placeholder {
  color: white;
  opacity: 1;
  font-size:9px;

}
.chekboxes{
    display: flex;
    gap: 80px;
    padding: -48px 0px 0px 0px  ;
    color: aliceblue;
}


.input-4{
    height: 34px;
    width: 340px;
    margin-bottom: 23px;
    border: 2px solid white;
    text-decoration: azure;
}
.input-5{
    height: 34px;
    width: 340px;
    margin-bottom: 23px;
    border: 2px solid white;

}
.input-6{
    height: 34px;
    width: 340px;
    margin-bottom: 23px;
    border: 2px solid white;
}
.input-7{
    height: 34px;
    width: 340px;
    margin-bottom: 23px;
    border: 2px solid white;
}
.input-8{
    height: 34px;
    width: 340px;
    margin-bottom: 23px;
    border: 2px solid white;
    
}
button{
    margin: px 0px 0px 0px;
    height:40px ;
    width: 75%;
    padding-left: 26px;
    text-align: center;
}