body{
    background-color:white;
    padding: 0px 0px 0px 0px;
    border: 2px solid white;
}
/* .div-1{
    display: flex;
    background-color: brown;
    clip-path: polygon(100% 0, 100% 92%, 95% 100%, 0 100%, 0 0);
    height: 300px;
    width: 45%;
} */
.header{
    padding: 20px 0px 140px 110px ;
    background-color: brown;
    clip-path: polygon(100% 0, 100% 87%, 87% 100%, 0 100%, 0 0);
    border: 2px solid white;
    /* height:120%; */
}
.tops-logo{
    height: 200px;
    padding: 18px 0px 12px 22px ;
}
.text_1{
    color: aliceblue;
    font-family: Verdana,  Tahoma, sans-serif;
    margin: 0px 0px 0px 16px ;
    font-size:94px;
}
.text_2{
    font-family: Verdana,  Tahoma, sans-serif;
    margin: -2px 0px 0px 16px ;
    font-size: 44px;
    font-weight: bolder;

}
.text_3{
    font-family: Verdana,  Tahoma, sans-serif;
    font-size: 24px;
    color: white;
    padding: 0px 0px 0px 20px;


}
.text_4{
    font-family: Verdana,  Tahoma, sans-serif;
    padding: 0px 0px 0px 20px;
    font-size: 24px;
    color: white;

}
.section-2{
    /* height: 50%; */
    padding: 170px 0px 0px 110px ;
    border: 2px solid white;
}
.img-1png > img{
     padding: 20px 0px 0px 38px;
     
}
.img-1pngtext{
    font-size: 22px;
    display: flex;
    gap: 66px;
    padding: 8px 0px 0px 20px;
    color: rgb(153, 14, 14);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-1pngtext-2{
    padding: 0px 0px 44px 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    gap: 159px;
}
.footer{
    background-color: brown;
    border: 2px solid white;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 88% 100%, 0% 100%);
    font-family: Verdana, Tahoma, sans-serif;
    /* width: 46%; */
    padding: 80px 0px 126px 110px;
}
.footer-text1{
    color: rgb(245, 242, 242);
    margin: 0px 0px 0px 0px;
    font-size: 44px;
}
.footer-text2{
     color: rgb(229, 217, 217);
      margin: -5px 0px 0px 0px;
     font-size: 48px;

}
.footer-text3{
     color: rgb(233, 223, 223);
      margin: -4px 0px 0px 0px;
     font-size: 43px;

}
/* ////////////////////////////////////// */
.main{
    display: flex;
    align-items: first baseline;
    padding: 0px 0px 0px 30px ;
}
h1{
    font-size: 44px;
    font-family: Verdana, Tahoma, sans-serif;
}
.awards-logo{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    padding: 0px 0px 0px 30px ;
}
.text-lorems{
    display: flex;
    gap: 23px;
}